extends layout

block content
  h2=title
  iframe(
      width="700" height="700" 
      frameborder="0" style="border:0" 
      src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDzuscPeRKWSCPxaZUbtJv1mahO50mFIQo&q=mcdonalds" 
      allowfullscreen)