doctype html
html
	head
		link(href='style.css', rel='stylesheet')
	body
		header
			div(class='header-wrapper')
				a(href='/' id='header-logo') McSonic
				nav
					ul
						each item in config.nav
							li
								a(href=`/${item}`) #{item}
		div(id='content')
			block content
		footer
