extends layout

block content
	h2(class='page-title') #{title}
	p Welcome to McSonic Burgers
	div(class='food-display')
		each item in config.menu["Sides"]
			div(class='food-item')
				h3 #{item.name}
				img(src=`/${item.img_path}`)
				p #{item.description}